---
import { siteConfig } from '../config/site';
---

<div class="footer">
  <div class="footer-content">
    <p>{siteConfig.site.copyrightNotice}</p>
    <a href="/privacy" class="footer-link">Privacy Policy</a>
    <a href="/terms" class="footer-link">Terms of Service</a>
  </div>
</div>