---
import { siteConfig } from '../config/site';
---

<header>
  <div class="header-content">
    <a href="/" class="logo">{siteConfig.developer.name}</a>
    <nav class="nav-links">
      <a href="/" class="nav-link">Games</a>
      <a href="/about" class="nav-link">About</a>
      <a href="/support" class="nav-link">Support</a>
      <a href="/recover-download" class="nav-link">Recover Downloads</a>
    </nav>
  </div>
</header>